* {
    margin: 0;
    padding: 0;
}

.application {
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

.ws-hidden {
    display: none;
}

.header {
    background: #333;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.header__logo-image {
    width: 50px;
    height: 50px;
}

.header__logo-title {
    margin-left: 10px;
    font-size: 18px;
}

ul {
    list-style: none;
}

.header__nav {
    display: flex;
}

.header__nav-item {
    margin-left: 7px;
}

.header__nav-item:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background: #000;
    align-items: center;
    padding: 0 20px
}

.footer_copy {
    color: #ccc;
}

.footer__nav {
    display: flex;
}

.footer__nav-item {
    margin-left: 7px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

.section {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 15px;
}

.section__menu,
.section__article {
    background: #eaedec;
    margin-top: 7px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .35);
    padding: 5px 7px;
}

.section__menu {
    border-top-right-radius: 15px;
}

.section__article {
    background: white;
    border-top-left-radius: 15px;
}
